<!-- /* ******************************************************** 
* Add yes or no (true or false) question Page 
* File name: add-tfq.ejs
* Author: Explorers Team (Group 1)
* Date: Dec 11, 2022
* ******************************************************** */-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!-- Main Content -->
<div id="patrialArea">
<main class="container">

  <h1 class="display-6 text-center"> <%= title %> </h1>
  <a href="/mysurvey" class="btn btn-success mt-1">Return to My Survey List</a>
  <!--<div ><a href="/create-survey" role="button" class="btn btn-success">Return to My Survey List</a>
  </div><br>-->
  <hr>
  <form class="form" method="POST">
    <div class="form-group mb-3">
      <label for="questionTextField">Question: </label>
      <input type="text" class="form-control" id="questionTextField" placeholder="Enter the Question"
        name="questionTxt" required>
    </div>
    <button class="btn btn-success" type="submit">
      
      Submit
    </button>

    <a href="/survey-detail/<%=Survey._id%> " class="btn btn-secondary">
       Cancel
    </a>

  </form>
</main>
</div>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>