<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Add Content -->
<div class="container">
  <h1 class="display-7 d-flex justify-content-center"><%= title %></h1>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <!-- Form Section -->
      <form class="form" method="POST">
        <div class="form-group">
          <label for="titleTextField">Survey Title:</label>
          <input type="text" class="form-control" id="titleTextField" placeholder="Enter Survey Title" name="title"
            required>
        </div><br>
        
        <div class="form-group">
          <label for="endDate">Due Date:</label><br>
          <input style="height: 35px;" type="date" id="endDate" min="<%= currentDate %>" name="endDate">
        </div>
        <br>
        <button class="btn btn-success mt-1" type="submit"> Create </button>
        <a href="/allsurvey" class="btn btn-secondary mt-1"> Cancel </a>
      </form>
    </div>
  </div>
</div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>