<!-- /* ******************************************************** 
* Page for updating multiple questions for a seleted survey
* File name: update-mcq.ejs
* Author: Explorers Team (Group 1)
* Date: Dec 11, 2022
* ******************************************************** */-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
    <div class="jumbotron">
        <h1 class="display-6">
            <%= title %>
        </h1>
    </div>
    <hr>
    <form class="form" method="POST">
        <div class="form-group mb-3">
            <label for="questionTextField">Question: </label>
            <input type="text" class="form-control" id="questionTextField" value="<%=Question.QuestionText %>"
                name="questionTxt" required>
            <label for="option1TextField">Option1: </label>
            <input type="text" class="form-control" id="option1TextField"
                value="<%=Question.OptionIds[0].OptionValue %>" name="option1Txt" required>
            <label for="option2TextField">Option2: </label>
            <input type="text" class="form-control" id="option2TextField"
                value="<%=Question.OptionIds[1].OptionValue %>" name="option2Txt" required>
            <label for="option3TextField">Option3: </label>
            <input type="text" class="form-control" id="option3TextField"
                value="<%=Question.OptionIds[2].OptionValue %>" name="option3Txt" required>
            <label for="option4TextField">Option 4: </label>
            <input type="text" class="form-control" id="option1TextField"
                value="<%=Question.OptionIds[3].OptionValue %>" name="option4Txt" required>
        </div>
        <button class="btn btn-success" type="submit">
            
            Update
        </button>

        <a href="/survey-detail/<%=Survey._id%>" class="btn btn-secondary">
             Cancel
        </a>
    </form>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>